<!DOCTYPE html>
<html>
<head>
      <title>Sign Up Page</title>
      <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
      <div id="header">

<div id="header_text">
  Sign Up </div>
  </div>
  
  
<%= form_for(@user, url: signup_path) do |f| %>
<section class="container2">
  <%= render 'error_messages' %>
<div class="up">
      <div id="label1"><%= f.label :name %></div>
      <div id="input1"><%= f.text_field :name %></div>
</div></section><section class="container2">
<div class="up">
      <div id="label1"><%= f.label :email %></div>
      <div id="input1"><%= f.email_field :email %></div>
</div></section><section class="container2">
<div class="up">
      <div id="label1"><%= f.label :password %></div>
      <div id="input1"><%= f.password_field :password %></div>
</div></section><section class="container2">
<div class="up">
      <div id="label1"><%= f.label :password_confirmation, "Confirm Password" %></div>
      <div id="input1"><%= f.password_field :password_confirmation %></div>
</div></section><section class="container2">
<div class="center2">
      <%= f.submit "Create my account", class: "btn btn-primary" %>
      
</div></section>
<% end %>
</body>
</html>
